<div class="header">
<h1 class="main-title"> Welcome to my Shopping App</h1>
  <ul>
    <li><button><a href [routerLink]="['/']">Home </a></button></li>
    <li><button><a href [routerLink]="['/catalog']">Shop </a></button></li>
    <li><button><a href [routerLink]="['/account']">My Account </a></button></li>
    <li><button><a href [routerLink]="['/orders']">My Orders </a></button></li>
    <li><button><a href [routerLink]="['/address']">Address Book </a></button></li>
  </ul>
</div>

<hr/>


<router-outlet></router-outlet>
